body {
    font-family: 'Rubik Mono One', monospace;
    font-size: 20px;
    background-color: #04c35b;
    overflow: hidden;
    margin: 0;
}

.marquee-wrapper {
    overflow: hidden;
    position: relative;
}

#marquee1 {
    width: 100000vw;
    position: relative;
    top: 0;
    font-size: 5vw;
    animation: marquee-one infinite 20s linear;
}

#marquee2 {
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    width: 100000vw;
    position: relative;
    font-size: 12vw;
    animation: marquee-two infinite 20s linear;
}

#marquee3 {
    font-family: 'Black Han Sans', sans-serif;
    width: 100000vw;
    position: relative;
    font-size: 10vh;
    animation: marquee-three infinite 25s linear;
}

#wrapper2 {
    position: absolute;
    bottom: 0;
}

#wrapper3 {
    position: absolute;
    top: 30%;
}

#marquee1:hover, #marquee2:hover, #marquee3:hover {
    animation-play-state: paused;
}

@keyframes marquee-three {
    0% { left: 0; }
    100% { left: -259.5vw;}
}

@keyframes marquee-two {
    0% { left: -412vw; }
    100% { left: 0 }
}

@keyframes marquee-one {
    0% { left: 0; }
    100% { left: -212vw; }
}

#forest {
    position: absolute;
    height: 70vh;
    width: auto;
    left: 40%;
    top: 15%;
    opacity: 0.8;
}

#forest:hover {
    z-index: 0;
}

#forin {
    position: absolute;
    height: 60vh;
    width: auto;
    bottom: 0%;
    left: 5%;
}

#addams {
    position: absolute;
    height: 50vh;
    right: 0;
    bottom: 0%;
}

#oyster {
    position: absolute;
    height: 70vh;
    right: 5%;
    top: -15%;
}

img:hover {
    z-index: 2;
    opacity: 1.0;
}

#happy-hour {
    display: none;
}

#happy-hour:target {
    display: block;
}

#sunset:target {
    display: block;
}   

#sunset {
    display: none;
}

#window {
    position: absolute;
    height: 60vh;
    top: 20%;
    left: 27%;
}

#sansom {
    position: absolute;
    height: 70vh;
    left: 0%;
    top: 0;
}

.kr {
    font-family: 'Black Han Sans', sans-serif;
}

.en {
    font-family: 'Rubik Mono One', monospace; 
}

.cn {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 900;
}

a {
    color: white;
}

::selection {
    background: rgba(250, 118, 2, 0.9);
}

::-moz-selection {
    background: rgba(250, 118, 2, 0.9);
}
