/* 
KOREAN : font-family: 'Black Han Sans', sans-serif;
CHINESE : font-family: 'Noto Sans SC', sans-serif;
ENGLISH : font-family: 'Rubik Mono One', monospace; 
*/

body {
    font-family: 'Rubik Mono One', monospace;
    /* margin: 20px; */
    font-size: 20px;
    background-color: #04c35b;
}

.marquee-wrapper {
    width: 98vw;
    overflow: hidden;
    position: relative;
}

#marquee1 {
    width: 100000vw;
    position: relative;
    left: -434.5vw;
    top: 0;
    font-size: 5vw;
    color: white;
    animation: marquee-forward infinite 25s linear;
}

#marquee2 {
    font-family: 'Black Han Sans', sans-serif;
    width: 100000vw;
    position: relative;
    left: -434.5vw;
    font-size: 10vw;
    animation: marquee-forward infinite 25s linear;
}

#marquee3 {
    font-family: 'Black Han Sans', sans-serif;
    width: 100000vw;
    position: relative;
    left: -434.5vw;
    top: 0;
    font-size: 5vw;
    animation: marquee-backward infinite 25s linear;
}

#wrapper2 {
    position: absolute;
    bottom: 0;
}

#wrapper3 {
    position: absolute;
    top: 50%;
}

#marquee1:hover, #marquee2:hover, #marquee3:hover {
    animation-play-state: paused;
}

@keyframes marquee-forward {
    0% { left: 0; }
    100% { left: -434.5vw }
}

@keyframes marquee-backward {
    0% { left: -434.5vw }
    100% { left: 0 }
}

#forest {
    position: absolute;
    height: 80%;
    left: 40%;
    top: 15%;
    opacity: .9;
}

#forin {
    display: none;
    position: absolute;
    height: 40%;
    top: 50%;
}

#addams {
    display: none;
    position: absolute;
    height: 50%;
    right: 0;
    top: 20%;
}

a:active, #forin {
    display: flex;
}


