.diary-window {
    overflow: hidden;
    position: relative;
}

#noise-image {
    position: absolute;
    background-image: url(s1fp-assets/noise.gif);
    opacity: 0.2;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

p {
    position: relative;
    opacity: 1;
    font-size: 2rem;
}