.main {
    font-family: 'VT323', monospace;
}

#tables {
    position: relative;
    top: 35vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caption {
    margin-top: 10vh;
}

#caption::after {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dot3 steps(1, end) 3s infinite;
    content: '';
}

@keyframes dot3 {
    0% { content: '   ';}
    25% { content: '.' }
    50% { content: '..' }
    75% { content: '...' }
    100% { content: '' }
}
  

td {
    position: relative;
    top: 10vh;
    /* border: 1px solid black; */
    height: 15vh;
    width: 20vw;
    min-width: 100px;
    min-height: 200px;
    text-align: center;
    transition-duration: 700ms;
}

td:hover {
    background-color: rgba(5, 5, 5, .2);
    transition-duration: 700ms;
}

td a {
    display: block;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("s1fp-assets/grass.jpg");
    background-size: cover;
    background-position: center;
}

#bear {
    position: absolute;
    height: 20vh;
    top: 35vh;
}

#webring {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
}

#webring-link {
    color: white;
}