.main {
    font-family: 'VT323', monospace;
}

#main-sheet {
    background-color: white;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    color: black;
}

.square {
    height: 150px;
    width: 125px;
    border: 0.5px solid black;
}

.square:hover {
    background-color: blanchedalmond;
}

#square2 {
    position: relative;
    top: -152px;
    left: 125px;
}

#square3 {
    position: relative; 
    top: -303px;
    left: 250px;
}

#square4 {
    position: relative; 
    top: -454px;
    left: 375px;
}
#square5 {
    position: relative; 
    top: -453px;
}

#square6 {
    position: relative; 
    top: -604px;
    left: 125px;
}

#square7 {
    position: relative; 
    top: -756px;
    left: 250px;
}

#square8 {
    position: relative; 
    top: -907px;
    left: 375px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



