body {
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    /* overflow: hidden; */
    margin-bottom: 20%;
    font-size: 2vw;
}

#heading::before {
    content: "the distance between me and you";
    animation: names 21s infinite;
    font-weight: 700;
    font-size: larger;
    line-height: 0.5vw;
}

h4 {
    font-weight: 400;
}

@keyframes names {
    33% {
        content: "우리 사이의 거리"; font-family: 'Nanum Gothic', sans-serif; font-weight: 800;
    }
    66% {
        content: "我们之间的距离"; font-family: 'Open Sans', sans-serif;
    }
    100% {
        content: "the distance between me and you";
    }
}

#content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-container {
    width: 20vw;
    height: 70vh;
    background-color: pink;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5vw;
}

#typer {
    position: relative;
    background-color: pink;
}

canvas {
    vertical-align: top;
}

#flex-container-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
}

#top {
    background-color: white;
    width: 100%;
}

#fills {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#nav-bar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

#eta {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#flex-container-route {
    display: flex;
    flex-direction: row;
    align-items: start;
    border: 1px solid black;
    justify-content: space-between;
    border-left: 5px solid blue;
    /* display: none; */
    padding: 1vw;
    vertical-align: text-top;
}

#eta-time, #wordcount {
    align-self: flex-end;
}

.location-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 5px;
    overflow: hidden;
}

.icon {
    width: 20px;
    height: 20px;
}